---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "home" }}>
	<section>
		<h1 class="title mb-6 text-9xl">Hello World!</h1>
		<p class="mb-4 text-4xl">
			Hola Mundo!, escribo tips sobre desarrollo frontend.
		</p>		
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<ul class="space-y-4 sm:space-y-4 text-4xl">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col justify-center gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
